@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--heading-font-scale: 1;
	--base-font-size: 1rem;
	--base-line-height: 1.675;
	--heading-font-size: 1rem;
	--heading-line-height: 1.2;
}

body .EasyMDEContainer .CodeMirror {
	@apply rounded-md border border-gray-200 bg-white p-4;
}

body .editor-statusbar {
	@apply hidden;
}

body .cm-s-easymde {
	font-family: var(--preview-text-font) !important;

	.cm-header-1,
	.cm-header-2,
	.cm-header-3,
	.cm-header-4 {
		font-family: var(--preview-heading-font) !important;
	}

	.cm-header-1 {
		@apply mb-4 text-4xl font-extrabold;
	}

	.cm-header-2 {
		@apply mb-3 text-2xl font-bold;
	}

	.cm-header-3 {
		@apply mb-2 text-xl font-bold;
	}

	.cm-header-4 {
		@apply mb-4 text-lg font-bold;
	}
}

.CodeMirror-scroll,
.preview-min-height {
	min-height: calc(100vh - 200px) !important;
}

.previewbox {
	@apply bg-white px-8 py-6 text-gray-900;
	--font-size: var(--text-font-size, var(--base-font-size));
	font-family: var(--preview-text-font) !important;
	font-size: var(--font-size);
	line-height: calc(var(--font-size) * var(--base-line-height));

	& > h1,
	& > h2,
	& > h3,
	& > h4 {
		&:not(:first-child) {
			@apply mt-8;
		}
	}

	& h1,
	& h2,
	& h3,
	& h4 {
		--font-size: calc(var(--heading-font-size) * var(--heading-size) * var(--heading-font-scale));
		font-family: var(--preview-heading-font) !important;
		font-size: var(--font-size);
		line-height: calc(var(--heading-line-height) * var(--font-size) * var(--heading-font-scale));
	}

	& h1 {
		@apply mb-4 font-extrabold;
		--heading-size: 2.25;
	}

	& h2 {
		@apply mb-3 font-bold;
		--heading-size: 1.5;
	}

	& h3 {
		@apply mb-2 font-bold;
		--heading-size: 1.25;
	}

	& h4 {
		@apply mb-4 font-bold;
		--heading-size: 1.125;
	}

	& p {
		@apply mb-2 leading-relaxed;
		margin-bottom: 0.35em;
	}

	& a {
		@apply text-blue-500 underline;
	}

	& strong {
		@apply font-bold text-[#dd2c38];
	}

	& em {
		@apply italic text-[#c09c0c];
	}

	& blockquote {
		@apply mb-4 border-l-4 border-gray-300 pl-4 italic text-gray-600;
	}

	& ul {
		@apply mb-2 list-disc pl-5;
	}

	& ol {
		@apply mb-2 list-decimal pl-5;
	}

	& li {
		@apply mb-1;
	}

	& code {
		@apply rounded-md bg-gray-200 px-1;
	}

	& pre {
		@apply overflow-auto rounded-md bg-gray-100 p-4;
	}

	& code {
		@apply rounded-md bg-gray-100 px-1 text-[#dd1399];
	}

	& blockquote {
		@apply rounded-none border-l-2 border-[#dd1399] font-normal not-italic;
	}

	& blockquote,
	& pre {
		@apply relative overflow-auto rounded-md bg-gray-100 p-4 py-2;

		& p:last-child {
			@apply mb-0;
		}
	}

	& hr {
		@apply my-3 border-t border-gray-300; /* Light gray border */
		@apply opacity-50; /* Slightly transparent */
		@apply w-full; /* Full width */
	}
}
